<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <div class="container">
	    <header>
            <div class="d-flex justify-content-start">
				<div class="p-2">@Html.ActionLink("Home", "Index", "Home")</div>
				<div class="p-2">@Html.ActionLink("About", "About", "Home")</div>
			</div>
        </header>
        @RenderBody()
	    <hr />
        <footer>
            <p>&copy; 2017 - Robert Murray</p>
        </footer>
    </div>
</body>
</html>
